html, body {
	font-family: 'Lato', sans-serif !important;
	min-width: 1300px;
	background-color: #f2f2f2;
	color: #262626;
}

.country-border {
	stroke: black;
	stroke-width: 1;
}

.map-label {
	fill: black;
}

@font-face {
font-family: 'Lato';
font-style: normal;
font-weight: 400;
src: local('Lato Regular'), local('Lato-Regular'),
	url('/build/fonts/lato-v15-latin-ext-regular.woff2') format('woff2'),
	url('/build/fonts/lato-v15-latin-ext-regular.woff') format('woff'); 
}
